option_settings:
  aws:elasticbeanstalk:customoption:
    NewSignupEmail: catharp@gmail.com
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    SIGNUP_TABLE: 'WonderlandUpdates'
    NEW_SIGNUP_TOPIC: 'arn:aws:sns:us-west-1:920324707680:Wonderland'
  aws:autoscaling:asg:
    Cooldown: "120"
  aws:autoscaling:trigger:
    Unit: "Percent"
    Period: "1"
    BreachDuration: "2"
    UpperThreshold: "75"
    LowerThreshold: "30"
    MeasureName: "CPUUtilization"
